!!! 5
html
    head
        title Welcome
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        style.
            body { background: #eee; text-align: center; font: 20px Helvetica, sans-serif; }
            a { width: 100%; box-sizing: border-box; margin: 0 auto; display: block; padding: 10px; background: #333; color: #fff; }
    body
        a(href="/unlock") Unlock.
        p.center 

